{
  "extends": [
    "eslint:all"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es2020": true,
    "node": true
  },
  "rules": {
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "curly": [
      "error",
      "all"
    ],
    "dot-location": ["error", "property"],
    "function-call-argument-newline": ["error", "consistent"],
    "indent": ["error", 2],
    "lines-around-comment": ["error", { "allowBlockStart": true }],
    "multiline-comment-style": ["error", "separate-lines"],
    "no-console": [
      "error",
      {
        "allow": ["error", "warn", "info"]
      }
    ],
    "object-curly-spacing": ["error", "always"],
    "one-var": ["error", { "var": "always", "let": "never", "const": "never" }],
    "padded-blocks": ["error", "never"],
    "quote-props": ["error", "as-needed"],
    "quotes": ["error", "single", { "avoidEscape": true }],
    "space-before-function-paren": ["error", "never"]
  }
}
